.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.swo
*~

node_api/node_modules/
node_api/npm-debug.log*
node_api/yarn-debug.log*
node_api/yarn-error.log*

node_api/coverage/
node_api/.nyc_output/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

odoo_custom/addons/*/*.log
odoo_custom/addons/**/*.log
*.log

.db_data/
postgres_data/

.env
.env.local

!.env.example
