<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
      <menuitem 
        id="menu_ridery_root"
        name="Ridery Trips"
        sequence="10"
        groups="group_ridery_trips_user,group_ridery_trips_admin"
      />
        
      <menuitem 
        id="menu_ridery_trips"
        name="Operations"
        parent="menu_ridery_root"
        sequence="10"
      />
        
      <menuitem 
        id="menu_ridery_trips_action"
        name="Trips"
        parent="menu_ridery_trips"
        action="action_ridery_trips"
        sequence="10"
      />

      <menuitem 
        id="menu_ridery_reporting"
        name="Informes"
        parent="menu_ridery_root"
        sequence="20"
      />
        
      <menuitem 
        id="menu_ridery_trips_report_action"
        name="Análisis de Viajes"
        parent="menu_ridery_reporting"
        action="action_ridery_trips_report"
        sequence="10"
      />
    </data>
</odoo>
